 
    <div   *ngFor="let product of singleCategory" >
        <div class="card">
            <div class="ii">
                <img [routerLink]="['/singleProduct/',product?._id]"  class="card-img" [src]="product?.image" alt="">
                <div [routerLink]="['/singleProduct/',product?._id]"  class="info-i">
                <app-info ></app-info>
               </div>
            </div>
           
            
            <div [routerLink]="['/singleProduct/',product?._id]"  class="txt">
                <p [routerLink]="['/singleProduct/',product?._id]"  class="name">{{product?.name}}</p>
                <p [routerLink]="['/singleProduct/',product?._id]"  class="price">{{product?.price}} Pound</p>
            </div>
            <app-button (click)="cartProduct(product._id)" [color]="'white'" [backGroundColor]="'rgba(89, 160, 83, 1)'" [text]="'request'"></app-button>
        </div>

    </div>
 
