<div  *ngFor="let product of singleCategory" class="card">
    <div class="ii">
        <img class="card-img" [src]="product?.image" alt="">
        <div [routerLink]="['/singleProduct/',product?._id]"  class="info-i">
        <app-info ></app-info>
       </div>
    </div>
   
    
    <div class="txt">
        <p class="name">{{product?.name}}</p>
        <p class="price">{{product?.price}} Pound</p>
    </div>
    <app-button [color]="'white'" [backGroundColor]="'rgba(89, 160, 83, 1)'" [text]="'request'"></app-button>
</div>
