<div class="contaner">
  <div class="form">
    <div class="info">
      <p>address</p>
      <form action="post">
        <input type="text" placeholder="Enter your address" />
      </form>
      <p>Phone No</p>
      <form action="post">
        <input type="number" placeholder="enter your number" />
      </form>
      <div class="delivry"><p>Delivery</p>
    <span>Delivery Date: Septemper 27,2024</span>
</div>
<div class="ways"><button> Instant payment</button>
<button>Donate money</button></div>
    </div>
    .
  </div>
</div>
