<div class="info">
  <form>
    
    <div class="group">      
      <input type="text" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Address</label>
    </div>
      
    <div class="group">      
      <input type="number" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Number</label>
    </div>
    
  </form>
</div>

    

<div class="delivery">
  <p>Delivery</p>
  <span>Delivery Date: September 27, 2024</span>
</div>
<div class="ways">
  <button>Instant payment</button>
  <button>Donate money</button>
</div>
