<div class="info">
  <form [formGroup]="applyForm">
    <div class="group">
      <input id="address" type="text" required formControlName="address" />
      <span class="highlight"></span>
      <span class="bar"></span>
      <label for="address">Address</label>
    </div>

    <div class="group">
      <input id="number" type="text" required formControlName="number" />
      <span class="highlight"></span>
      <span class="bar"></span>
      <label for="number">Number</label>
    </div>
  </form>
</div>

<div class="delivery">
  <p>Delivery</p>
  <span
    >Delivery Date:
    {{ date.toLocaleString('en-US', {
    day: 'numeric',
    month: 'short',
    year: 'numeric',
  }) }}</span
  >
</div>
<p *ngIf="error !== ''" style="margin-top: 7px; text-align: center; color: red">
  {{ error }}
</p>
<div class="ways">
  <button (click)="paymentSubmitHandler()">Instant payment</button>
  <button (click)="donateSubmitHandler()">Donate money</button>
</div>
