<footer>
    <div class="footer-container">
      <!-- First Div -->
      <div class="footer-section">
        <h2>Categories</h2>
        <ul class="arrow-list">
          <li>Food</li>
          <li>Plastic</li>
          <li>Metals</li>
          <li>Wood</li>
          <li>Books</li>
          <li>Make-up</li>
          <li>Glass</li>
        </ul>
      </div>
  
      <!-- Second Div -->
      <div class="footer-sectionTwo">
        <h2>Contact Us</h2>
        <div class="social">
          <a href="#" target="_blank">
              <div class="social-circle">
                  <div class="clip-circle facebook"></div>
                  <img src="https://mohameds16.github.io/jfc-consultant/images/icons/facebook.webp" class="facebook-logo" />
              </div>
          </a>
          <a href="#" target="_blank">
              <div class="social-circle">
                  <div class="clip-circle instagram"></div>
                  <img src="https://mohameds16.github.io/jfc-consultant/images/icons/instagram.webp" class="instagram-logo" />
              </div>
          </a>
          <a href="#"
              target="_blank">
              <div class="social-circle">
                  <div class="clip-circle tiktok"></div>
                  <img src="https://www.pngrepo.com/png/303159/512/tiktok-icon-black-1-logo.png" class="tiktok-logo" />
              </div>
          </a>
      </div>
      </div>
  
      <!-- Third Div -->
      <div class="footer-sectionThree">
        <p><strong>Clean your area</strong></p>
        <img src="https://s3-alpha-sig.figma.com/img/80b7/95e3/7d34da3f47566d90c377c343beb9de05?Expires=1728864000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=ID94xbZzqRJMHk8VIOb5~8QmlsI0yyQF~XR7sjy7xdTH87l-By-1SP3v9DFyLHkisYHsdK2vuhIE0ZHKpR4XLhu9VT-bN1c354tsBjyjttxYmIO2uRsT6XUxxNFaHkurS~MZz6ZiU~e5s2fBEX7R75DmZr5hOVrusskXhmFJG3iWwyhRR0ytyZfw1R6E8RAurryAtyAOKgijlbafXQJKNVzu5Ia5qFBHargK0q5kKEtV7-bcnYfWSoS6yjW1ho3jM2waoAE5Q9v7ZOAqR6y5eYSu8JmDzSQrO4v2Yya3-ozDrSYHAhmOMJaQmNKo8agAg-LM3bxjmBf1xLoStALmGA__" alt="Clean your area image">
      </div>
    </div>
  </footer>
  