<main>
  <!-- <div class="flex-Row contan">
    <div class="contaner">
  <img class="h-img" src="./assets/images/pexels-ella-olsson-572949-1640774 1.jpg">
  <h6>food waste</h6>
</div>
</div> -->
  <h2 id="category" class="h2-categ">Categories</h2>
  <div class="flex-Row contan contaner-rap">
    <div class="contaner">
      <img
        class="h-img"
        src="./assets/images/pexels-ella-olsson-572949-1640774 1.jpg"
      />
      <h6>food waste</h6>
      <p class="p-contaner">
        Turn your food waste into <br />
        something valuable.We buy food scraps, expired products,and more. Help
        reduce waste, support sustainability,and get paid. Schedule a pickup and
        start earning today!
      </p>
      <button class="start-now"><a href="./food.html">Start Now</a></button>
    </div>

    <div class="contaner">
      <img
        class="h-img2"
        src="../images/pexels-magda-ehlers-pexels-2547565.jpg"
      />
      <h6>plastic waste</h6>
      <p class="p-contaner">
        Turn your plastic waste into value! We buy all types of plastic for
        recycling. Help reduce pollution and earn cash by recycling with us.
        Schedule a pickup today and make a difference.
      </p>
      <button class="start-now">Start Now</button>
    </div>

    <div class="contaner">
      <img
        class="h-img2"
        src="../images/pexels-shvets-production-7512846 1.jpg"
      />
      <h6>paper waste</h6>
      <p class="p-contaner">
        Have excess paper? We buy it! Turn your paper waste into cash while
        helping to save trees and reduce landfill waste. Schedule a pickup today
        and contribute to a greener future!
      </p>
      <button class="start-now"><a href="./paper.html">Start Now</a></button>
    </div>

    <div class="contaner">
      <img class="h-img3" src="../images/pexels-cottonbro-7191423.jpg" />
      <h6>Glass waste</h6>
      <p class="p-contaner">
        Got glass waste? We buy it! Turn your old glass items into cash and
        contribute to a greener, cleaner planet. Schedule a pickup today and
        join us in recycling for a more sustainable future!
      </p>
      <button class="start-now">Start Now</button>
    </div>

    <div class="contaner">
      <img class="h-img2" src="../images/pexels-cottonbro-6591436.jpg" />
      <h6>Metal waste</h6>
      <p class="p-contaner">
        Got scrap metal? We buy it! Turn your metal waste into cash while
        helping to reduce environmental impact. Schedule a pickup today and make
        a positive change for the planet!
      </p>
      <button class="start-now"><a href="./metal.html">Start Now</a></button>
    </div>
  </div>
</main>
