.cards {
  gap: 10px;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0;
  flex-direction: column;
  gap: 50px;
}
.CARDSS {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.buttonss {
  display: flex;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
