.cards{
  
    gap: 10px;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
.CARDSS{
   display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}