<div class="content">


    <div *ngFor="let category of data?.categories">
    
    <div class="card">
    <img [src]="category?.imgurl"  alt="{{category?.name}}">
      <div class="txt">
    
        <p class="cat-name">
          {{category?.name}}
        </p>
      </div>
      <a class="categoryLink" [routerLink]="['/products', category?._id]"
        ><app-button
          [color]="'white'"
          [backGroundColor]="'rgba(89, 160, 83, 1)'"
          [text]="'more details'"
        ></app-button
      ></a>
    </div>
    
    
    </div>
    </div>