.cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    gap: 10px;
    flex-wrap: wrap;
    margin-right: 100px;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    gap: 10px;
    flex-wrap: wrap;
}
.card{
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-around;
    border-style: solid;
    border-color: rgba(166, 166, 166, 1);
    align-items: center;
    margin-bottom:100px;
    border-radius: 20px;
    border-width: 1px;
    gap: 10px;
}

.card img{
    width:340px;
    border-radius: 20px;
    object-fit: cover;
}
.name{
    color: rgba(0, 0, 0, 1);
    font-size: 30px;
}
.txt{
    width: 85%; 
    gap: 10px;
}
.category{
    color: rgba(0, 0, 0, 0.63);
    font-size: 24px;
}
.price{
    color: rgba(0, 113, 45, 1);
    font-size: 24px;
}

.categoryLink{
    text-decoration: none;
}
@media (max-width: 500px) {
    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        margin: 0 auto;
    }
}
