<nav>
  <div class="nav-container flex-Row">
    <img class="logo" src="/assets/images/logo.png" alt="" />
    <div class="search-box">
      <button class="btn-search">
        <img
          class="search-icon"
          src="https://img.icons8.com/?size=100&id=XU3XKgdpT0qG&format=png&color=288C36"
          alt=""
        />
      </button>
      <input type="text" class="input-search" placeholder="Type to Search..." />
    </div>
    <div class="links flex-evenly">
      <ul class="link">
        <a routerLinkActive="active" routerLink="">Home </a>
      </ul>
      <ul class="link">
        <a routerLink="">Categories</a>
      </ul>
    </div>
    <div class="nav-logos flex-evenly">
      <img
        src="https://img.icons8.com/?size=100&id=JWjjFaN1ezzm&format=png&color=288C36"
        alt="cart"
        [routerLink]="['/request']"
        class="nav-logo"
      />
      <img
        src="https://img.icons8.com/?size=100&id=9313&format=png&color=E8DC05"
        alt=""
        class="nav-logo"
      />
      <img
        src="https://img.icons8.com/?size=100&id=s7eHaFDy5Rqu&format=png&color=000000"
        alt=""
        class="nav-logo"
      />
    </div>
    <div class="buttons">
      <button class="nav-login">Login</button>
      <button class="nav-login">Sign up</button>
    </div>
  </div>
</nav>
