nav{
    width: 100vw;

}
.nav-container {
    height: 3rem;
    gap: 35px;
}

.logo {
    height: 70px;
}

.links {
    width: 30%;
}

.link a {
    color: #288C36;
    text-decoration: none;
    font-size: 1rem;
}




.link a {
    color: #000;
    text-decoration: none;
    font-size: 1rem;
    position: relative;
    cursor: pointer;
    padding-bottom: 10px;
}

.link a:hover {
    color: #288C36 !important;
}

.link a::after {
    content: '';
    width: 0%;
    height: 4px;
    background-color: #288C36;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.4s ease-in-out;


}

.link a:hover::after {
    width: 100%;
}



.search-box {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.input-search {
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;

    padding-right: 40px;
    color: #288C36;
    ;
}

.input-search::placeholder {
    color: rgb(0, 255, 72);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}

.btn-search {
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color: #288C36;
    background-color: transparent;
    pointer-events: painted;
}

.btn-search:focus~.input-search {
    width: 200px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid #288C36;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:focus {
    width: 200px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid #288C36;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}


.search-icon {
    height: 25px;
}

.nav-logo {
    height: 30px;
}

.nav-logos {
    width: 2rem;
    gap: 10px;
}

.nav-login {
    border: 2px solid rgb(0, 0, 0);
    z-index: 1;
    color: rgb(0, 0, 0);
    position: relative;
    background-color: rgb(255, 255, 255);
    padding: 5px 15px;


    margin-right: 10px;

}

.nav-login:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    background: rgb(0, 0, 0);
    transition: all 0.3s ease;
}

.nav-login:hover {
    color: rgb(255, 250, 250);
}

.nav-login:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
}

.profile img {
    height: 50px;

}

.profile .dropdown {
    position: absolute;
    background-color: #fff;
    /* Adjust as needed */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 45px;
}

.profile .dropdown ul {
    list-style-type: none;
    cursor: pointer;
    color: #288C36;

}

.profile .dropdown ul li {
    padding: 10px;
    text-align: left;
}

.profile .dropdown ul li a {
    text-decoration: none;
    color: #288C36;
    /* Adjust as needed */
    display: block;
}
.cart img{
    position: relative;
}
.cart-view{
    position: absolute;
    right: 370px;
    display: block;
}

.active a {
    color: #288C36;
    font-weight: 900;
    }
    