<div [routerLink]="['/singleProduct/', CartItem.product._id]" class="item">
  <div class="section1">
    <div class="item-image">
      <img
        [src]="CartItem.product.image"
        alt="{{ CartItem.product.name }}"
        class="product-image"
      />
    </div>
    <div class="product-details">
      <div class="txts">
        <h2>{{ CartItem.product.name }}</h2>
        <div style="display: flex; width: fit-content">
          <p style="margin-right: 5px">Price: ${{ CartItem.product.price }}</p>
          <p>
            Total Price: ${{ CartItem.product.price * CartItem.totalAmount }}
          </p>
        </div>
      </div>
      <div class="counter">
        <button
          class="btn minus"
          (click)="decreaseItem($event, CartItem.product)"
        >
          −
        </button>
        <span class="count">{{ CartItem.totalAmount }}</span>
        <button
          class="btn plus"
          (click)="increaseItem($event, CartItem.product)"
        >
          +
        </button>
      </div>
    </div>
  </div>
  <button (click)="RemoveItem($event, CartItem.product)" class="remove">
    <img src="../../../assets/close.png" alt="Remove" />
  </button>
</div>
