.info {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: 0.3s;
}
.info-details {
  text-align: center;
  width: fit-content;
  color: #fff;
  background-color: #59a053;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: none;
  transition: 3s;
  transform: translateX(100px);
}
.info-I {
  width: 40px;
  height: 40px;
  color: #fff;
  background-color: #59a053;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: flying 0.6s ease-in-out infinite alternate;
  transition: 2s;
}
@keyframes flying {
  from {
    transform: translateY(0.1em);
  }
  to {
    transform: translateY(-0.1em);
  }
}
.info:hover .info-details {
  transform: translateX(0);
  display: flex;
}
.info:hover .info-I {
  animation: flying 0;
  transform: translateX(100);
  display: none;
}
.info:hover {
  cursor: pointer;
}
